@charset "UTF-8";
@font-face {
  font-family: "GoodVibesPro";
  src: url("./../../assets/fonts/GoodVibesPro.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("./../../assets/fonts/PlayfairDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("./../../assets/fonts/PlayfairDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PontanoSans";
  src: url("./../../assets/fonts/PontanoSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
:where(p:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-size: clamp(1rem, 0.8123209169rem + 0.7640878701vw, 1.5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: var(--font-family-base);
  background-color: var(--color-background);
  color: var(--color-font-base);
}

:root {
  --font-family-base: "PlayfairDisplay", sans-serif;
  --font-family-accent: "GoodVibesPro", sans-serif;
  --color-font-base: #0E652D;
  --color-font-accent-1: #000000;
  --color-font-accent-2: #575757;
  --color-font-price: #9A2D2D;
  --color-background: #FFFFFF;
  --color-main: #DEEDDA;
  --color-accent: #22A851;
  --color-accent-2: #DEEDDA;
  --border-radius-base: 0.5rem;
  --border-radius-circle: 50%;
}

.container {
  padding-inline: 1rem;
}

@media (min-width: 969px) {
  .container {
    padding-inline: 3.75rem;
    max-width: 90rem;
    margin: 0 auto;
  }
}
.header {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-block: 0.25rem;
  border-bottom-left-radius: var(--border-radius-base);
  border-bottom-right-radius: var(--border-radius-base);
  background-color: var(--color-main);
}
.header__nav {
  display: flex;
  gap: 0.75rem;
}
.header__burger, .header__cart {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: var(--border-radius-circle);
  background-color: var(--color-accent);
}
.header__cart {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 2.5rem;
  min-height: 2.5rem;
}
.header__cart img {
  margin-bottom: 0.1875rem;
}

@media (min-width: 1200px) {
  .header {
    padding-block: 1rem;
  }
  .header__nav {
    order: 2;
    align-items: center;
  }
  .header__cart {
    width: 3.75rem;
    height: 3.75rem;
    order: 3;
  }
  .header__cart img {
    width: 1.5rem;
    height: 2rem;
  }
}
.footer {
  font-size: clamp(1rem, 0.8123209169rem + 0.7640878701vw, 1.5rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
  width: 100%;
  padding-top: 0.625rem;
  padding-bottom: 0.875rem;
  background-color: var(--color-main);
  border-top-left-radius: var(--border-radius-base);
  border-top-right-radius: var(--border-radius-base);
}
.footer__messengers, .footer address {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  text-align: right;
}
.footer__messengers a, .footer address a {
  text-decoration: none;
  color: var(--color-font-accent-1);
}
.footer__messengers {
  min-width: 1.5625rem;
}

@media (min-width: 1200px) {
  .footer__messengers img {
    width: 2.5rem;
  }
}
.contacts-info {
  padding-block: 2.5rem;
}
.contacts-info__title h2 {
  font-size: clamp(1.4375rem, 1.13252149rem + 1.2416427889vw, 2.25rem);
  font-weight: 400;
  text-align: center;
}
.contacts-info__info {
  font-size: clamp(1rem, 0.8123209169rem + 0.7640878701vw, 1.5rem);
  border-radius: var(--border-radius-base);
  background-color: var(--color-accent-2);
  max-width: 90%;
  margin: 0 auto;
  padding: 0.9375rem;
}
.contacts-info__info p:first-of-type {
  margin-bottom: 2.25rem;
}

@media (min-width: 1200px) {
  .contacts-info {
    padding-block: 5rem;
  }
  .contacts-info__info {
    padding: 2.25rem;
  }
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.0625rem;
  padding-block: 1.5rem;
}
.hero__title h1 {
  font-size: clamp(3.75rem, 2.1547277937rem + 6.4947468959vw, 8rem);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-accent);
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 1.25rem;
  line-height: 1.1;
  text-align: center;
}
.hero__title h1 span:last-of-type {
  margin-left: 0.625rem;
}
.hero__photo {
  max-width: 70%;
  height: fit-content;
  padding: 0.375rem;
  border-radius: var(--border-radius-base);
  background-color: var(--color-accent-2);
  margin-bottom: 1.25rem;
}
.hero__photo img {
  width: 100%;
  max-width: 31rem;
  height: auto;
}
.hero p {
  font-size: clamp(1.875rem, 1.452722063rem + 1.7191977077vw, 3rem);
  font-family: var(--font-family-accent);
  text-align: center;
  line-height: 1;
  margin-bottom: 2.3125rem;
}
.hero ul {
  font-size: clamp(1.125rem, 0.702722063rem + 1.7191977077vw, 2.25rem);
  display: flex;
  justify-content: center;
  gap: 1.875rem;
}
.hero ul li:not(:last-child) {
  position: relative;
  z-index: -1;
}
.hero ul li:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 0.4375rem;
  height: 0.4375rem;
  border-radius: 50%;
  background-color: var(--color-font-base);
  right: -1.1875rem;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 960px) {
  .hero {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 60% 40%;
    column-gap: 0.625rem;
    width: 100%;
  }
  .hero__title {
    grid-column: 1;
    grid-row: 1;
  }
  .hero__title h1 {
    text-align: unset;
  }
  .hero__title h1 span:first-of-type {
    display: inline-block;
    margin-right: auto;
  }
  .hero__title h1 span:last-of-type {
    display: inline-block;
    margin-left: auto;
  }
  .hero__photo {
    grid-column: 2;
    grid-row: 1/3;
    justify-self: end;
    width: 100%;
    max-width: 31rem;
  }
  .hero__photo img {
    max-width: 31rem;
  }
  .hero__about {
    grid-column: 1;
    grid-row: 2;
  }
}
.conditions div {
  padding-inline: 0.75rem;
  padding-block: 0.375rem;
  background-color: var(--color-accent-2);
  border-radius: var(--border-radius-base);
}
.conditions div h2 {
  font-weight: 500;
  text-align: center;
}
.conditions div ul {
  font-size: clamp(1.125rem, 0.9373209169rem + 0.7640878701vw, 1.625rem);
}
.conditions div ul li:not(:last-of-type) {
  margin-bottom: 1.25rem;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.125rem;
  width: 100%;
}
.products h2 {
  font-size: clamp(1.4375rem, 1.0386819484rem + 1.623686724vw, 2.5rem);
  font-weight: 500;
}
.products__list {
  font-size: clamp(1rem, 0.6715616046rem + 1.3371537727vw, 1.875rem);
  display: flex;
  flex-wrap: wrap;
  gap: 0.9375rem;
  justify-content: center;
}
.products__list li {
  display: inline-block;
  text-align: center;
  height: auto;
  min-width: 3.75rem;
  width: fit-content;
  padding-block: 1vh;
  padding-inline: 2vw;
  background-color: var(--color-accent-2);
  border-radius: 50vh;
}
.products__menu-products {
  padding-top: 1.875rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 10rem), 1fr));
  gap: 1rem;
  width: 100%;
}

@media (min-width: 890px) {
  .products__menu-products {
    grid-template-columns: repeat(4, 1fr);
  }
}
.logo img {
  min-width: 4.375rem;
}

@media (min-width: 1200px) {
  .logo img {
    min-width: 5.625rem;
  }
}
.menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0.75rem;
  background-color: var(--color-main);
  border: 0.0625rem solid var(--color-font-base);
  border-radius: var(--border-radius-base);
  top: 5.375rem;
  left: 0.625rem;
  right: 0.625rem;
  transform: translateX(110%);
  visibility: hidden;
  opacity: 0;
  transition-duration: 0.3s;
}
.menu a {
  font-size: 1.125rem;
  color: var(--color-font-base);
  text-decoration: none;
}
.menu.open {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
  transition-duration: 0.3s;
}

@media (min-width: 1200px) {
  .menu {
    flex-direction: row;
    transform: none;
    visibility: visible;
    opacity: 1;
    position: static;
    border: none;
  }
  .menu a:not(:last-of-type) {
    padding-right: 0.625rem;
    border-right: 1px solid var(--color-font-base);
  }
}
.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.125rem;
  min-width: 2.5rem;
  min-height: 2.5rem;
}
.burger__up-line, .burger__mid-line, .burger__bottom-line {
  display: inline-block;
  height: 0.1875rem;
  width: 1.25rem;
  background-color: var(--color-accent-2);
  border-radius: var(--border-radius-base);
  transition-duration: 0.2s;
}
.burger.open {
  padding-right: 0.25rem;
}
.burger.open span:nth-child(1) {
  transform: rotate(45deg) translateX(14%);
  transition-duration: 0.2s;
}
.burger.open span:nth-child(2) {
  display: none;
  transition-duration: 0.2s;
}
.burger.open span:nth-child(3) {
  transform: rotate(-45deg) translateX(16%);
  transition-duration: 0.2s;
}

@media (min-width: 1200px) {
  .burger {
    display: none;
  }
}
.main-form {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  padding-top: 2.5rem;
  padding-bottom: 5.625rem;
  max-width: 54.5rem;
}
.main-form__title h2 {
  font-size: clamp(1.75rem, 1.5623209169rem + 0.7640878701vw, 2.25rem);
  text-align: center;
  color: var(--color-font-accent-1);
  font-weight: 400;
  line-height: 1;
  margin-bottom: 1.5rem;
}
.main-form__title p {
  font-size: clamp(1rem, 0.9061604585rem + 0.3820439351vw, 1.25rem);
  color: var(--color-font-accent-2);
  font-weight: 400;
  text-align: center;
}
.main-form__form {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}
.main-form__form label {
  font-size: clamp(1rem, 0.9061604585rem + 0.3820439351vw, 1.25rem);
  color: var(--color-font-accent-2);
  font-weight: 400;
}
.main-form__form input:not(:last-of-type),
.main-form__form textarea {
  margin-bottom: 0.75rem;
}
.main-form__form input:last-of-type {
  margin: 0 auto;
  padding-inline: 1.4375rem;
  color: var(--color-background);
  background-color: var(--color-font-accent-1);
  max-width: 14.1875rem;
}
.main-form__form input,
.main-form__form textarea {
  padding: 0.3125rem;
  border-color: var(--color-font-accent-1);
  border-radius: var(--border-radius-base);
}
.main-form__form textarea {
  height: 5.625rem;
}

@media (min-width: 1200px) {
  .main-form__form input:last-of-type {
    font-size: 1rem;
    padding-inline: 3.4375rem;
  }
}
.item {
  display: flex;
  flex-direction: column;
  min-width: 8.75rem;
  max-width: 19.5rem;
  height: auto;
  padding: 0.75rem;
  background-color: var(--color-accent-2);
  border-radius: var(--border-radius-base);
}
.item__title h2 {
  font-size: clamp(1.125rem, 0.9842406877rem + 0.5730659026vw, 1.5rem);
  font-weight: 500;
  line-height: 1;
  text-align: center;
}
.item__title p {
  font-size: clamp(1rem, 0.6246418338rem + 1.5281757402vw, 2rem);
  color: var(--color-font-price);
  font-weight: 600;
  text-align: center;
}
.item__description {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  padding-top: 0.9375rem;
  font-weight: 500;
  line-height: 1.2;
}
.item__description ul {
  padding-left: 0.8125rem;
  padding-bottom: 0.625rem;
  list-style-type: disc;
}
.item__description ul li:not(:last-of-type) {
  margin-bottom: 0.625rem;
}
.item__buttons {
  padding-top: 1.5625rem;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.item__buttons .button-to-card {
  border: 1px solid var(--color-font-base);
  border-radius: 50vh;
  color: var(--color-font-base);
  background-color: var(--color-background);
  font-size: 1.125rem;
}

@media (min-width: 960px) {
  .item__description ul {
    padding-left: 1.25rem;
  }
}
.button-config {
  background-color: var(--color-background);
  border: 1px solid var(--color-font-base);
  border-radius: 50vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding-inline: 0.3125rem;
}
.button-config button {
  background-color: var(--color-background);
  border: none;
  color: var(--color-font-base);
  font-size: 1.25rem;
  font-weight: 600;
}
.button-config span {
  font-size: 1.25rem;
}

/*# sourceMappingURL=main.css.map */
