@use '../helpers/' as *;

.burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: rem(1);

    &__up-line,
    &__mid-line,
    &__bottom-line {
        display: inline-block;
        height: rem(2);
        width: rem(16);
        background-color: var(--color-accent-2);
        border-radius: var(--border-radius-base);
        transition-duration: 0.2s;
    }

    &.open {
        padding-right: rem(4);

        & span:nth-child(1) {
            transform: rotate(45deg) translateX(14%);
            transition-duration: 0.2s;
        }

        & span:nth-child(2) {
            display: none;
            transition-duration: 0.2s;
        }
        
        & span:nth-child(3) {
            transform: rotate(-45deg) translateX(10%);
            transition-duration: 0.2s;
        }
    }
}

@media (min-width: 969px) {
    .burger {
        display: none;
    }
}