@use './../helpers/' as *;

.button-config {
    background-color: var(--color-background);
    border: 1px solid var(--color-font-base);
    border-radius: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding-inline: rem(5);

    button {
        background-color: var(--color-background);
        border: none;
        color: var(--color-font-base);
        font-size: rem(20);
        font-weight: 600;
    }

    span {
        font-size: rem(20);
    }
}