@use './../helpers' as *;

.button-up {
    display: block;
    position: fixed;
    visibility: hidden;
    bottom: 2vh;
    right: 2vw;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 15px 5px rgb(123 121 155 / 50%);
    color: white;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    z-index: 1000;
    background-image: url('./../../assets/icons/arrow-to-header.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.button-up:hover {
    transform: scale(1.1);
}

.button-up.visible {
    opacity: 1;
    visibility: visible;
}