@use './../helpers/' as *;

.item {
    display: flex;
    flex-direction: column;
    min-width: rem(140);
    max-width: rem(312);
    height: auto;
    padding: rem(12);
    background-color: var(--color-accent-2);
    border-radius: var(--border-radius-base);

    &__title {
        h2 {
            @include fluid-text(24, 18);
            font-weight: 500;
            line-height: 1;
            text-align: center;
        }

        p {
            @include fluid-text(32, 16);
            color: var(--color-font-price);
            font-weight: 600;
            text-align: center;
        }
    }

    &__description {
        padding-top: rem(15);
        font-weight: 500;
        line-height: 1.2;
    }

    &__buttons {
        padding-top: rem(25);
        margin-top: auto;
        display: flex;
        flex-direction: column;
        gap: rem(10);

        .button-to-card {
            border: 1px solid var(--color-font-base);
            border-radius: 50vh;
            color: var(--color-font-base);
            background-color: var(--color-background);
            font-size: rem(18);
        }
    }
}