@use './../helpers/' as *;

.item {
    display: flex;
    flex-direction: column;
    min-width: rem(140);
    max-width: rem(312);
    height: auto;
    padding: rem(12);
    background-color: var(--color-accent-2);
    border-radius: var(--border-radius-base);
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
        transform: translateY(-4px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
        background-color: var(--color-main);
    }

    &__title {
        h2 {
            @include fluid-text(24, 18);
            font-weight: 500;
            line-height: 1;
            text-align: center;
        }

        p {
            @include fluid-text(32, 16);
            color: var(--color-font-price);
            font-weight: 600;
            text-align: center;
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        gap: rem(10);
        padding-top: rem(15);
        font-weight: 500;
        line-height: 1.2;

        ul {
            padding-left: rem(13);
            padding-bottom: rem(10);
            list-style-type: disc;

            li:not(:last-of-type) {
                margin-bottom: rem(10);
            }
        }
    }

    &__buttons {
        padding-top: rem(25);
        margin-top: auto;
        display: flex;
        flex-direction: column;
        gap: rem(10);

        .button-to-card {
            border: 1px solid var(--color-font-base);
            border-radius: 50vh;
            color: var(--color-font-base);
            background-color: var(--color-background);
            font-size: rem(18);
        }
    }
}

@media (min-width: 960px) {
    .item {
        &__description {
            ul {
                padding-left: rem(20);
            }
        }
    }
}