@use './../helpers/' as *;

.footer {
    @include fluid-text(24, 16);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(20);
    padding-top: rem(10);
    padding-bottom: rem(14);
    background-color: var(--color-main);
    border-top-left-radius: var(--border-radius-base);
    border-top-right-radius: var(--border-radius-base);

    &__messengers, 
    & address {
        display: flex;
        flex-direction: column;
        gap: rem(10);
        text-align: right;
        
        & a {
            text-decoration: none;
            color: var(--color-font-accent-1);
        }
    }

    &__messengers {
        min-width: rem(25);
    }
}

@media (min-width: 1200px) {
    .footer {
        &__messengers {
            img {
                width: rem(40);
            }
        }
    }
}