@use '../helpers/' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: rem(4);
    border-bottom-left-radius: var(--border-radius-base);
    border-bottom-right-radius: var(--border-radius-base);
    background-color: var(--color-main);

    &__nav {
        display: flex;
        gap: rem(12);
    }

    &__burger,
    &__cart {
        @include square(rem(30));

        border-radius: var(--border-radius-circle);
        background-color: var(--color-accent);
    }

    &__cart {
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
            margin-bottom: rem(3);
        }
    }
}

@media (min-width: 1200px) {
    .header {
        padding-block: rem(16);


        &__nav {
            order: 2;
            align-items: center;
        }

        &__cart {
            @include square(rem(60));
            order: 3;

            img {
                width: rem(24);
                height: rem(32);
            }
        }
    }
}