@use '../helpers/' as *;

.header {
    position: sticky;
    top: 0;
    z-index: 1001;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-block: rem(4);
    border-bottom-left-radius: var(--border-radius-base);
    border-bottom-right-radius: var(--border-radius-base);
    background-color: var(--color-main);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    &__nav {
        display: flex;
        gap: rem(12);
    }

    &__burger,
    &__cart {
        @include square(rem(30));

        border-radius: var(--border-radius-circle);
        background-color: var(--color-accent);
    }

    &__cart {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: rem(40);
        min-height: rem(40);
        position: relative;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            position: relative;
        }

        & img {
            margin-bottom: rem(3);
        }
    }
}

@media (min-width: 1200px) {
    .header {
        padding-block: rem(16);


        &__nav {
            order: 2;
            align-items: center;
        }

        &__cart {
            @include square(rem(60));
            order: 3;

            img {
                width: rem(24);
                height: rem(32);
            }
        }
    }
}