@use './../helpers/' as *;

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(1);
    padding-block: rem(24);

    &__title {

        h1 {
            @include fluid-text(128, 60);
            display: flex;
            flex-direction: column;
            font-family: var(--font-family-accent);
            font-weight: 500;
            margin-top: 0;
            margin-bottom: rem(20);
            line-height: 1.1;
            text-align: center;

            & span:last-of-type {
                margin-left: rem(10);
            }
        }
    }

    &__photo {
        max-width: 70%;
        height: fit-content;
        padding: rem(6);
        border-radius: var(--border-radius-base);
        background-color: var(--color-accent-2);
        margin-bottom: rem(20);

        & img {
            width: 100%;
            max-width: rem(496);
            height: auto;
        }
    }

    p {
        @include fluid-text(48, 30);

        font-family: var(--font-family-accent);
        text-align: center;
        line-height: 1;
        margin-bottom: rem(37);
    }

    ul {
        @include fluid-text(36, 18);
        display: flex;
        justify-content: center;
        gap: rem(30);

        li:not(:last-child) {
            position: relative;
            z-index: -1;

            &::after {
                position: absolute;
                content: '';
                width: rem(7);
                height: rem(7);
                border-radius: 50%;
                background-color: var(--color-font-base);
                right: rem(-19);
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

}

@media (min-width: 960px) {
    .hero {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 60% 40%;
        column-gap: rem(10);
        width: 100%;

        &__title {
            grid-column: 1;
            grid-row: 1;

            h1 {
                text-align: unset;

                span:first-of-type {
                    display: inline-block;
                    margin-right: auto;
                }
            
                span:last-of-type {
                    display: inline-block;
                    margin-left: auto;
                }
            }

            
        }

        &__photo {
            grid-column: 2;
            grid-row: 1/3;
            justify-self: end;
            width: 100%;
            max-width: rem(496);

            img {
                max-width: rem(496);
            }
        }

        &__about {
            grid-column: 1;
            grid-row: 2;
        }
    }
}