@use './../helpers/' as *;

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: rem(50);
    width: 100%;

    h2 {
        @include fluid-text(40, 23);
        font-weight: 500;
    }

    &__list {
        @include fluid-text(30, 16);
        display: flex;
        flex-wrap: wrap;
        gap: rem(15);
        justify-content: center;

        li {
            display: inline-block;
            text-align: center;
            height: auto;
            min-width: rem(60);
            width: fit-content;
            padding-block: 1vh;
            padding-inline: 2vw;
            background-color: var(--color-accent-2);
            border-radius: 50vh;
        }
    }

    &__menu-products {
        padding-top: rem(30);
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(100%, rem(160)), 1fr));
        gap: rem(16);
        width: 100%;
    }
}

@media (min-width: 890px) {
    .products {
        &__menu-products {
        grid-template-columns: repeat(4, 1fr);
    }
    }
}