@use 'helpers' as *;

body {
    @include fluid-text(24, 8);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: var(--font-family-base);
    background-color: var(--color-background);
    color: var(--color-font-base);
}

