@use './helpers/' as *;

.container {
    padding-inline: rem(16);
}

@media (min-width: 969px) {
    .container {
        padding-inline: rem(60);
        max-width: rem(1440);
        margin: 0 auto;
    }
}