:root {
    // FONTS
    --font-family-base: 'PlayfairDisplay', sans-serif;
    --color-font-base: #0E652D;
    --color-font-accent-1: #000000;
    --color-font-accent-2: #575757;
    --color-font-price: #9A2D2D;

    // COLOR
    --color-background: #FFFFFF;
    --color-main: #DEEDDA;
    --color-accent: #22A851;
    --color-accent-2: #DEEDDA;

    //BORDER
    --border-radius-base: 0.5rem;
    --border-radius-circle: 50%;
}