@use 'fonts';
@use 'normalize';
@use 'globals';
@use 'variables';
@use 'utils';

@use './layouts/header';
@use './layouts/footer';
@use './layouts/contacts-info';
@use './layouts/hero';
@use './layouts/conditions';

@use './components/logo';
@use './components/menu';
@use './components/burger';
@use './components/form';