{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/css/main.css' %}">
    <title>Maria Br</title>
</head>
<body>
    <header class="header container">
        <div class="header__logo logo">
            <a href="/">
                <img src="{% static 'assets/img/logo.svg' %}" alt="logo">
            </a>
        </div>
        <div class="header__nav">
            <div class="header__cart">
                <img src="{% static 'assets/icons/cart.svg' %}" alt="cart">
            </div>
            <nav class="header__menu menu" id="nav-menu">
                <a href="">Условия заказа</a>
                <a href="">Ассортимент</a>
                <a href="">Контактная информация</a>
                <a href="">Заказать обратный звонок</a>
                <a href="">Корзина</a>
            </nav>
            <div class="header__burger burger" id="burger">
                <span class="burger__up-line"></span>
                <span class="burger__mid-line"></span>
                <span class="burger__bottom-line"></span>
            </div>
        </div>
    </header>

    <section class="hero container">
        <div class="hero__title">
            <h1>
                <span>Мария</span>
                <span>Брюханова</span>
            </h1>
        </div>
        <div class="hero__photo">
            <img src="{% static 'assets/img/photos/photo.png' %}" alt="photo">
        </div>
        <div class="hero__about">
            <p>
                Приготовлю быстро и красиво <br>
                на Ваш праздник
            </p>

            <ul class="hero__list-dishes">
                <li>Гастробоксы</li>
                <li>Фуршеты</li>
            </ul>

            <ul class="hero__list-towns">
                <li>Сосновоборск</li>
                <li>Железногорск</li>
            </ul>
        </div>
    </section>

    <section class="conditions container">
        <div>
            <h2>
                Условия заказа
            </h2>
            <ul>
                <li>
                    Заказ считается оформленным после внесения предоплаты в размере 50%
                </li>
                <li>
                    Бесплатная доставка от 3000р по Сосновоборску, от 5000р 
                    в Железногорск, Березовку и Подгорный. 
                    В Красноярск доставка по тарифу Яндекс.Курьер
                </li>
                <li>
                    ‼️Важно ‼️Срок хранения большинства закусок всего 
                    несколько часов, поэтому оформляйте заказ к тому времени, 
                    когда планируете садиться за стол.
                </li>
            </ul>
        </div>
    </section>

    <section class="products container">
        <h2>Ассортимент</h2>
        <ul class="products__list">
            {% for category in categories %}
                <li>
                    {{ category.title }}
                </li>
            {% endfor %}
        </ul>
        <ul class="products__menu-products menu-products">

            {% for product in products %}
            <li class="menu-products__item item">
                <div class="item__photo">
                    <img src="{% static 'assets/img/photos/products/item-1.png' %}" alt="">
                </div>

                <div class="item__title">
                    <h2>
                        {{ product.title }}
                    </h2>
                    <p>{{ product.price }} ₽</p>
                </div>

                <div class="item__description">
                    <p>
                        {{ product.description }}
                    </p>

                    {% if product.ingredients %}
                        <p>
                            {{ product.ingredients }}
                        </p>
                    {% endif %}

                    {% if product.ingredientsList %}
                        <ul>
                            {% for ingredient in product.get_ingredients_list %}
                                <li>{{ ingredient }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    
                    {% if product.availableFrom %}
                        {% if product.category.id != 4 %}
                            <p>
                                Доступны к заказу от {{ product.availableFrom }} шт.
                            </p>
                        {% endif %}
                    {% endif %}

                    {% if product.priceAdditional %}
                        <p>
                            Цена указана за 1 кг <br>
                            120г - {{ product.priceAdditional }} рублей 

                            {% if product.availableFrom %}
                                (от {{ product.availableFrom }} шт)
                            {% endif %}
                        </p>
                    {% endif %}

                    {% if product.priceFor %}
                        <p>
                            Цена указана за 1 штуку
                        </p>
                    {% endif %}
                </div>

                <div class="item__buttons">
                    <div class="button-config">
                        <button type="button">-</button>
                        <span>1</span>
                        <button type="button">+</button>
                    </div>
                    <button class="button-to-card" type="button">
                        В корзину
                    </button>
                </div>
            </li>
            {% endfor %}
        </ul>
    </section>

    <section class="contacts-info container">
        <div class="contacts-info__title">
            <h2>
                Контактная информация
            </h2>
        </div>
        <div class="contacts-info__info">
            <p>
                Если есть какие-то вопросы, Вы можете позвонить по номеру +7 (953) 596-55-20 
                либо заполнить форму обратной связи ниже.
            </p>
            <p>
                Доступен самовывоз по адресу: Сосновоборск, улица Ленинского Комсомола, 25.
            </p>
        </div>
    </section>

    <div class="map container" style="width: 100%;">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A91ccc6f30928f0e859e03e6ee01bfc8f28bf7be254d0933e1355b7b15f0d2923&amp;width=100%25&amp;height=551&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>

    <section class="container main-form">
        <div class="main-form__title">
            <h2>
                Хотите обсудить нюансы по заказу или любой другой вопрос?
            </h2>
            <p>
                Заполните форму и опишите свой вопрос. Я обязательно Вам перезвоню.
            </p>
        </div>
        <form action="#" method="post" class="main-form__form">
            <label for="name">Имя:</label>
            <input type="text" name="name" id="name" placeholder="Имя">

            <label for="phone">Номер телефона:</label>
            <input type="tel" name="phone" id="phone" placeholder="+7 (999) 999 99 99">

            <label for="question">Ваш вопрос:</label>
            <textarea name="question" row=3 id="question"></textarea>

            <input type="submit" value="Отправить">
        </form>
    </section>

    <footer class="footer container">
        <div class="footer__messengers">
            <div>
                <a href="http://">
                    <img src="{% static 'assets/icons/vk.svg' %}" alt="VK">
                </a>
            </div>
            <div>
                <a href="http://">
                    <img src="{% static 'assets/icons/whatsapp.svg' %}" alt="whatsapp">
                </a>
            </div>
        </div>
        <address>
            <a href="tel:+79535965520">+7(953)596-55-20</a>
            <a href="https://yandex.ru/maps/-/CLUFzZ~w">
                Сосновоборск, улица Ленинского Комсомола, 25 
            </a>
        </address>
    </footer>

    <script src="{% static 'scripts/burger.js' %}"></script>
</body>
</html>