{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/css/main.css' %}">
    <title>Maria Br</title>
</head>
<body>
    <header class="header container">
        <div class="header__logo logo">
            <img src="{% static 'assets/img/logo.svg' %}" alt="logo">
        </div>
        <div class="header__nav">
            <div class="header__cart">
                <img src="{% static 'assets/icons/cart.svg' %}" alt="cart">
            </div>
            <nav class="header__menu menu" id="nav-menu">
                <a href="">Условия заказа</a>
                <a href="">Ассортимент</a>
                <a href="">Контактная информация</a>
                <a href="">Заказать обратный звонок</a>
                <a href="">Корзина</a>
            </nav>
            <div class="header__burger burger" id="burger">
                <span class="burger__up-line"></span>
                <span class="burger__mid-line"></span>
                <span class="burger__bottom-line"></span>
            </div>
        </div>
    </header>

    <section class="container main-form">
        <div class="main-form__title">
            <h2>
                Хотите обсудить нюансы по заказу или любой другой вопрос?
            </h2>
            <p>
                Заполните форму и опишите свой вопрос. Я обязательно Вам перезвоню.
            </p>
        </div>
        <form action="#" method="post" class="main-form__form">
            <label for="name">Имя:</label>
            <input type="text" name="name" id="name" placeholder="Имя">

            <label for="phone">Номер телефона:</label>
            <input type="tel" name="phone" id="phone" placeholder="+7 (999) 999 99 99">

            <label for="question">Ваш вопрос:</label>
            <textarea name="question" row=3 id="question"></textarea>

            <input type="submit" value="Отправить">
        </form>
    </section>

    <footer class="footer container">
        <div class="footer__messengers">
            <div>
                <a href="http://">
                    <img src="{% static 'assets/icons/vk.svg' %}" alt="VK">
                </a>
            </div>
            <div>
                <a href="http://">
                    <img src="{% static 'assets/icons/whatsapp.svg' %}" alt="whatsapp">
                </a>
            </div>
        </div>
        <address>
            <a href="tel:+79535965520">+7(953)596-55-20</a>
            <a href="https://yandex.ru/maps/-/CLUFzZ~w">
                Сосновоборск, улица Ленинского Комсомола, 25 
            </a>
        </address>
    </footer>

    <script src="{% static 'scripts/burger.js' %}"></script>
</body>
</html>